<template>
  <div id="rompecabezas">
    <div class="disponibles" v-show="!image.url">
      <input type="text" v-model="new_url" @keyup.enter="addNewUrl" class="add-new-url" placeholder="Full URL to new image">
      <div v-for="image in images"><img :src="image" @click="setImage(image)"></div>
    </div>
    <div v-show="image.url">
      <div style="max-width:800px;margin:0 auto;">
        <span class="btn default" @click="closeImage">Cerrar</span>
        <span class="btn primary" @click="randomize">Revolver</span>
        <span class="btn primary" style="background: #ffc018;" @click="piezas_n = 2">Facil</span>
        <span class="btn primary" style="background: #458fe5;" @click="piezas_n = 3">Medio</span>
        <span class="btn primary" style="background: #f02;" @click="piezas_n = 4">Dificil</span>
        <select v-model.number="piezas_n">
          <option v-for="n in 10" :value="n" v-show="n>1">{{ n }}x{{ n }}</option>
        </select>
        <input type="checkbox" v-model="show_numbers">
      </div>
      <div class="msg" style="display: none" v-show="completed()">
        <div>
          You Won
          <span @click="closeImage">Cerrar</span>
        </div>
      </div>

      <!--{{ change }}-->
      <div class="image" :style="{width:image.w+'px', height:image.h+'px',
      //background:'url('+image.url+')',
      //backgroundSize:image.w+'px '+image.h+'px'
    }">
        <div v-for="(cell, cell_k) in piezas_rand" class="cell" :class="{active:(change.position.position === cell.position)}" :style="styleCell(cell)" @click="change_this(cell, cell_k)">
            <span v-show="show_numbers">{{ cell.number }}</span>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      new_url:'',
      images:[
        /*'./img/pepa1.jpg',
        './img/pepa2.jpg',
        './img/amigazazo1.jpg',
        './img/amigazazo2.jpg',
        './img/luna1.jpg',
        './img/luna2.jpg',
        './img/luna3.png',
        './img/luna4.jpg',
        './img/mickey1.jpeg',
        './img/mickey2.jpg',
        './img/mickey3.jpg',
        './img/mickey4.jpg',
        './img/mickey5.jpg',
        './img/pocoyo1.jpg',
        './img/pocoyo2.jpg',
        './img/pocoyo3.jpg',
        './img/pocoyo4.jpg',*/
      ],
      image:{
        url:'',
        w:'',
        h:'',
        th_w:'',
        th_h:'',
      },
      change:{
        key:'',
        position:''
      },
      piezas_n:4,
      piezas:[],
      piezas_rand:[],
      msg:'',
      show_numbers:false,
    }
  },
  mounted(){
    let this_ = this;
    firebase.auth().signInWithEmailAndPassword('arturogallegos27@gmail.com', '6fxh7xPBxz').then(function(){
      var database = firebase.database();
      database.ref('/rompecabezas/').on('value',function (snapshot) {
        this_.images = snapshot.val();
      });
      /*database.ref('/rompecabezas/').once('value').then(function(snapshot) {
        this_.images = snapshot.val();
      });*/
      /*starCountRef.on('value', function(snapshot) {
        updateStarCount(postElement, snapshot.val());
      });*/
    }).catch(function(error) {
      console.log(error);
    });
  },
  methods:{
    addNewUrl(){
      let this_ = this;
      firebase.auth().signInWithEmailAndPassword('arturogallegos27@gmail.com', '6fxh7xPBxz').then(function(){
        var database = firebase.database();
        database.ref('/rompecabezas/').push(this_.new_url);
        this_.new_url = '';
      }).catch(function(error) {
        console.log(error);
      });
    },
    closeImage(){
      this.image = {
          url:'',
          w:'',
          h:'',
          th_w:'',
          th_h:'',
        };
        this.piezas = [];
        this.piezas_rand = [];
        this.msg = '';
    },
    setImage(image){
      let this_ = this, img = new Image();
      this_.image.w = (window.innerWidth > 600) ? 600 : (window.innerWidth - 20);
      this_.image.th_w = this_.image.w / this_.piezas_n;
      this_.image.url = image;
      img.addEventListener("load", function(){
        this_.image.h = (this_.image.w * this.naturalHeight) / this.naturalWidth;
        this_.image.th_h = this_.image.h / this_.piezas_n;
        this_.setArrayItems();
      });
      img.src = image;
    },
    setArrayItems(){
      let this_ = this, items = new Array((this_.piezas_n * this_.piezas_n));
      this_.piezas = [];
      let row = 0, cell = 0;
      _.each(items, function(value, key){
        if(key > 0){
          if((key % this_.piezas_n)===0){
            row ++;
            cell = 0;
          }else{
            cell ++;
          }
        }
        this_.piezas.push({
          position:'-'+(this_.image.th_w * cell) + 'px -' + (this_.image.th_h *  row) + 'px',
          number:(key + 1)
        });
      });

      this_.piezas_rand = _.shuffle(this_.piezas);
    },
    randomize(){
      this.piezas_rand = _.shuffle(this.piezas);
    },
    styleCell(cell){
      return 'width:'+this.image.th_w+'px;'+
            'height:'+this.image.th_h+'px;'+
            'background:url('+this.image.url+');'+
            'background-size:'+this.image.w+'px '+this.image.h+'px;'+
            'background-position:'+cell.position;
    },
    change_this(cell, key){
      if(this.change.position){
        this.piezas_rand[this.change.key] = cell;
        this.piezas_rand[key] = this.change.position;
        this.change = {
          key:'',
          position:'',
        }
      }else{
        this.change = {
          key:key,
          position:cell
        };
      }
    },
    completed(){
      let this_ = this, completed = false;
      if(this_.piezas.length > 0){
        completed = true;
        for(let i = 0; i < this_.piezas.length; i++){
          if(this_.piezas[i] === this_.piezas_rand[i]){
            completed = completed && true;
          }else{
            completed = false;
          }
        }
      }
      return completed;
    }
  },
  watch:{
    piezas_n(){
      this.image.th_w = this.image.w / this.piezas_n;
      this.image.th_h = this.image.h / this.piezas_n;
      this.setArrayItems();
    }
  }
}
</script>

<style lang="scss">
.disponibles{
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  .add-new-url{
    width: 100%;
    margin-bottom: 20px;
  }
  img{
    width: 200px;
    margin: 5px
  }
}
.image{
  background-size:100% auto;
  margin:30px auto 0;
  display: flex;
  flex-wrap: wrap;
  .cell{
    border:1px #fff solid;
    box-sizing: border-box;
    font:700 50px arial,verdana,tahoma;
    color:#000;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -1px;
    span{
      text-shadow: 0 0 10px #fff;
    }
    &.active{
      //border-color:#f00;
      box-shadow: 0 0 12px #fff;
      position: relative;
      &:before{
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        top: 0;
        left: 0;
      }
    }
  }
}
.btn{
  display:inline-block;
  background:#f1f1f1;
  border:2px #ddd solid;
  cursor: pointer;
  font:14px/40px arial,verdana,tahoma;
  color: #555;
  padding:0 15px;
  &.primary{
    background: #188977;
    border-color:#137177;
    color:#fff;
  }
  &.danger{
    display: block;
  }
}
.msg{
  //position: fixed;
  padding: 20px;
  max-width: 300px;
  margin: 30px auto 0;
  border: 1px #ccc solid;
  >div{
    width: 350px;
    height: 150px;
    max-width: 100%;
    background: #fff;
    margin:0 auto;
    position: relative;
    font:700 50px/2 arial,verdana,tahoma;
    color: #FFC922;
    text-transform: uppercase;
    text-align: center;
    span{
      position: absolute;
      bottom: 0;
      left:0;
      width: 100%;
      height: 40px;
      text-align: center;
      background: #f02;
      font-size: 14px;
      line-height: 40px;
      color: #fff;
      cursor: pointer;
    }
  }
}
</style>
